# Based on instructions in https://cdcvs.fnal.gov/redmine/projects/cet-is-public/wiki/Defining_products_in_the_CET_build_environment
# __VERSION__ and __REQUIRED_UHAL_VERSION__ are overwritten by install_as_ups_product.sh

parent protodune_pdt_core __VERSION__

defaultqual e14:s50

fcldir -
bindir -

product	    version
uhal	    __REQUIRED_UHAL_VERSION__
end_product_list

qualifier	uhal
e14:prof:s50	e14:s50:prof	
e14:s50:debug	e14:s50:debug	
end_qualifier_list
